In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from globalfunctions import *
%matplotlib inline

tickers = ['SPY','EFA','IEF','GLD']

In [2]:
# format epoch time to datetime
def convertTime(dtEpoch):
    formattedDate = datetime.datetime.fromtimestamp(dtEpoch).strftime('%Y-%m-%d')
    return formattedDate

# Get Historical Data
def GetModalData(tickers = []):
    lst_data = {}
    key =  getData("SELECT [keyValue] FROM [fattailinvestorweb].[dbo].[tblAPIKeys] where pkAPIID = 1")
    for t in tickers:
        # Get Price data
        priceHistory = get_price_history(key['keyValue'][0],symbol=t, period=1, periodType='year', frequencyType='weekly')
        # focus on dict item with price history
        data = priceHistory['candles']
        # loop through dictionary to get close price data
        lst_price = []
        lst_date = []
        for d in data:
            close = (d['close']+d['high'] + d['low'])/3
            date = convertTime((d['datetime']/1000)+(86400*5))
            lst_price.append(close)
            lst_date.append(date)
        if 'Date' not in lst_data:
            lst_data['Date'] = lst_date
        lst_data[t] = lst_price
        

    return lst_data

In [3]:
lst = GetModalData(tickers)

In [4]:
print(lst)

{'Date': ['2020-02-07', '2020-02-14', '2020-02-21', '2020-02-28', '2020-03-06', '2020-03-13', '2020-03-20', '2020-03-27', '2020-04-03', '2020-04-10', '2020-04-17', '2020-04-24', '2020-05-01', '2020-05-08', '2020-05-15', '2020-05-22', '2020-05-29', '2020-06-05', '2020-06-12', '2020-06-19', '2020-06-26', '2020-07-03', '2020-07-10', '2020-07-17', '2020-07-24', '2020-07-31', '2020-08-07', '2020-08-14', '2020-08-21', '2020-08-28', '2020-09-04', '2020-09-11', '2020-09-18', '2020-09-25', '2020-10-02', '2020-10-09', '2020-10-16', '2020-10-23', '2020-10-30', '2020-11-06', '2020-11-13', '2020-11-20', '2020-11-27', '2020-12-04', '2020-12-11', '2020-12-18', '2020-12-25', '2021-01-01', '2021-01-08', '2021-01-15', '2021-01-22', '2021-01-29'], 'SPY': [329.87, 335.6366666666667, 335.0466666666666, 305.12076666666667, 300.51, 268.50666666666666, 237.90666666666667, 244.82666666666668, 251.80666666666664, 269.18993333333333, 281.78333333333336, 280.5937333333333, 286.3966666666667, 288.17333333333335, 284.50333333333333, 295.08666666666664, 302.2082, 314.55833333333334, 308.74, 307.00666666666666, 304.6566666666667, 308.9533333333334, 315.3833333333334, 318.92, 322.452, 324.2633333333333, 332.3933333333334, 335.71, 338.14000000000004, 346.91679999999997, 345.3966666666667, 335.90000000000003, 333.8933333333334, 326.57666666666665, 334.59, 342.85999999999996, 348.1466666666667, 345.2533333333333, 330.70666666666665, 343.1966666666667, 357.66333333333336, 357.4199999999999, 360.90500000000003, 366.29, 366.87000000000006, 368.7033333333334, 369.83, 373.1233333333333, 375.8566666666666, 376.8433333333333, 381.52666666666664, 382.70000000000005], 'EFA': [68.74666666666666, 69.30333333333333, 68.47666666666667, 62.98, 62.45666666666667, 53.82833333333334, 47.55833333333333, 51.18, 51.818333333333335, 54.64333333333334, 55.315599999999996, 54.88166666666666, 56.14000000000001, 56.129999999999995, 55.39666666666667, 57.17666666666667, 59.56666666666666, 62.73999999999999, 62.03, 60.74333333333333, 61.133333333333326, 61.48996666666667, 62.15709999999999, 63.11000000000001, 63.55333333333332, 62.72333333333333, 63.47666666666667, 64.67666666666666, 64.67333333333333, 65.34333333333333, 64.61333333333333, 64.555, 65.35333333333332, 63.03333333333334, 63.77333333333333, 65.14833333333333, 64.92166666666667, 64.75426666666668, 62.199999999999996, 64.82166666666666, 68.96666666666667, 70.10166666666667, 71.16333333333334, 71.72833333333334, 72.19, 72.47500000000001, 71.82333333333334, 73.25, 74.83666666666666, 74.705, 75.115, 74.85833333333333], 'IEF': [113.21766666666667, 113.24833333333333, 114.02666666666666, 116.57666666666667, 119.56, 118.38666666666666, 118.38666666666666, 120.54333333333334, 121.80333333333334, 120.94333333333333, 121.57333333333334, 122.20766666666667, 121.81, 121.45333333333333, 121.75466666666667, 121.60666666666667, 121.7679, 120.29666666666667, 120.96666666666665, 121.33666666666666, 121.75999999999999, 121.75333333333333, 121.82333333333334, 121.98333333333333, 122.2693, 122.60333333333334, 122.69333333333333, 121.8, 121.95613333333331, 121.58999999999999, 121.72000000000001, 121.81833333333334, 121.81886666666666, 121.995, 121.77833333333335, 121.06333333333335, 121.27999999999999, 120.56333333333333, 120.43333333333334, 120.46166666666666, 119.77333333333333, 120.3, 120.315, 119.67666666666666, 119.96166666666666, 119.77833333333332, 119.7063, 119.829, 118.81, 118.18833333333333, 118.46833333333335, 118.92999999999999], 'GLD': [147.45666666666668, 148.38, 153.13063333333332, 151.32, 155.28, 148.07666666666668, 140.81, 150.0633333333333, 151.1966666666667, 157.24333333333334, 160.37, 161.09333333333333, 159.85999999999999, 160.17333333333332, 162.54, 163.17996666666667, 161.83666666666667, 159.70833333333334, 161.71666666666667, 162.76, 165.91666666666666, 166.77020000000002, 169.07863333333333, 169.73333333333335, 176.04333333333332, 184.33, 189.8199666666667, 184.73, 183.96666666666667, 183.0533333333333, 182.89333333333335, 182.04999999999998, 183.23, 176.33333333333334, 177.71, 179.56000000000003, 178.74333333333334, 179.22333333333333, 176.82000000000002, 181.28336666666667, 176.20000000000002, 175.92333333333332, 169.93666666666664, 170.55666666666664, 173.22000000000003, 175.07333333333335, 175.87666666666667, 177.4433333333333, 176.01, 172.18833333333336, 173.77666666666664, 173.92333333333332]}

In [5]:
df = pd.DataFrame(lst,columns=['Date','SPY','EFA','IEF','GLD'])
df.tail()

          Date         SPY        EFA         IEF         GLD
47  2021-01-01  373.123333  73.250000  119.829000  177.443333
48  2021-01-08  375.856667  74.836667  118.810000  176.010000
49  2021-01-15  376.843333  74.705000  118.188333  172.188333
50  2021-01-22  381.526667  75.115000  118.468333  173.776667
51  2021-01-29  382.700000  74.858333  118.930000  173.923333

In [6]:
dfDic = {}
for t in tickers:
    colIndex = df.columns.get_loc(t)
    dfDic[t] = colIndex
print(dfDic)

{'SPY': 1, 'EFA': 2, 'IEF': 3, 'GLD': 4}

In [7]:
def CalculateROC(dataFrame, dfDic,N):
    df = dataFrame.copy()
    for key in dfDic:
        df[key+"_ROC"] = np.NaN
        rocIndex = df.columns.get_loc(key+"_ROC")
        for i,j in df.iterrows():
            if i>=N-1:
                df.iloc[i,rocIndex] = (df.iloc[i,dfDic[key]]/df.iloc[i-N,dfDic[key]])-1
    return df

In [8]:
df = CalculateROC(df,dfDic,43)
df.tail()

,Date,SPY,EFA,IEF,GLD,SPY_ROC,EFA_ROC,IEF_ROC,GLD_ROC
47,2021-01-01,373.123333,73.250000,119.829000,177.443333,0.241634,0.172813,0.002250,0.142731
48,2021-01-08,375.856667,74.836667,118.810000,176.010000,0.399804,0.390284,0.003576,0.188641
49,2021-01-15,376.843333,74.705000,118.188333,172.188333,0.583997,0.570808,-0.001675,0.222842
50,2021-01-22,381.526667,75.115000,118.468333,173.776667,0.558354,0.467663,-0.017214,0.158022
51,2021-01-29,382.700000,74.858333,118.930000,173.923333,0.519817,0.444630,-0.023590,0.150312

In [9]:
dfSummary = {}
for t in tickers:
    colTitle = t+'_ROC'
    roc = df[colTitle][51]
    dfSummary[colTitle] = roc
print(dfSummary)

{'SPY_ROC': 0.519816790659501, 'EFA_ROC': 0.44463027885883366, 'IEF_ROC': -0.023589940067321735, 'GLD_ROC': 0.15031195573094625}